@charset "utf-8";



html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

html {
	overflow-x: hidden;
}

/* Navigation Bar */


/* Place the navbar at the top of the page, and make it stick */
.navbar {
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: rgb(160, 28, 40);
  color: white;
}

center{
	margin: 10px;
	font-size: 25px;
}




/* Layout */


* {
  box-sizing: border-box;
}

body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  background-color: ghostwhite;
  left: 0;
  width: 100%;
  margin: 0;
}


h2 {
	font-size: 100px;
}

article {
  margin-top: 60px;
  float: left;
  width: 100%;
  color: #979797;
  background-color: rgb(246, 232, 234);
  height: auto;
}


text {
	margin: 50px;
}


/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


/* Style the footer */


footer {
  background-color: ghostwhite;
  padding: 200px;
  text-align: center;
  color: gray;
}

footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

footer ul a:hover {
  opacity:0.8;
}

footer .item.social {
  text-align:center;
}

footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:15px 8px;
  color: gray;
  opacity:0.75;
}

footer .item.social > a:hover {
  opacity:0.9;
}
