@charset "utf-8";

* {
  box-sizing: border-box;
}

html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

html {
	overflow-x: hidden; 
	scroll-behavior: smooth;
	zoom: calc((100% / 100) * 100);
/*	zoom: 56%; */
}


/* Navigation Bar */


/* Place the navbar at the top of the page, and make it stick */
.navbar {
 /* zoom: 175%; */
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: rgb(160, 28, 40);
  color: white;
}

center{
	margin: 10px;
	font-size: 25px;
}




/* Layout */


* {
  box-sizing: border-box;
}

body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  background-color: ghostwhite;
  left: 0;
  width: 100%;
  margin: 0;
}

/* Style the header */
header {
/*  background-color: ghostwhite; */
  background-image: url("../images/Home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 426px;
  text-align: center;
  font-size: 35px;
  color: white;
  
}


h2 {
	font-size: 100px;
}

text {
	margin: 50px;
}

article {
  padding: 400px;
  margin-top: -100px;
  float: right;
  width: 60%;
  color: #979797;
  background-color: white;
  height: 1250px;
  text-align: center;
  font-size: 30px;
}

videos {
  padding-top: 60px;
  padding-bottom: 160px;
  padding-left: 480px;
  padding-right: 480px;
  float: left;
  width: 100%;
  color: #979797;
  background-color: white;
  height: auto;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 50px;
}

iframe {
	zoom: 175%;
	background-color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  margin-top: -100px;
  float: right;
  background-repeat: no-repeat;
  width: 40%;
  height: 1250px;
  color: #979797;
  background-image: url("../images/725385031.jpg");
  background-color: #414141;
  background-size: cover;
  background-position: center 0;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


.btnabout {
  border-radius: 100px;
  border: 10px solid #ff2424;
  background-color: transparent;
  color: white;
  padding: 36px 120px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin: 4px 20px;
  transition: 0.3s;
  opacity: 1;
}

.btnabout:hover {
	color: white;
    background-color: #ff2424;
	transform: scale(1.1);
}

.btncon {
  border-radius: 100px;
  border: 10px solid #ff2424;
  background-color: transparent;
  color: white;
  padding: 36px 120px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin: 4px 20px;
  transition: 0.3s;
  opacity: 1;
}

.btncon:hover {
	color: white;
    background-color: #ff2424;
	transform: scale(1.1);
}


.btncon2 {
  border-radius: 100px;
  border: 10px solid #ff2424;
  background-color: transparent;
  color: gray;
  padding: 36px 120px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin: 4px 20px;
  transition: 0.3s;
  opacity: 1;
}

.btncon2:hover {
	color: white;
    background-color: #ff2424;
	transform: scale(1.1);
}




/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
/* @media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
} */








/* Style the footer */


footer {
  background-color: ghostwhite;
  padding: 200px;
  text-align: center;
  color: gray;
}

footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

footer ul a:hover {
  opacity:0.8;
}

footer .item.social {
  text-align:center;
}

footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:15px 8px;
  color: gray;
  opacity:0.75;
}

footer .item.social > a:hover {
  opacity:0.9;
}
